.container-geral {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .container-lista {
        display: flex;
        flex-direction: column;
        p {        
            position: relative;
            top: 150px;
            left: 50px;
            color: white;
            font-size: 25px;
            font-weight: 500;
            width: 450px;
        }
        .movies {
            display: flex;
            gap: 10px;
            margin-bottom: 150px;
            padding: 0px 50px;


        }
    }
}